/* Stylesheet for Cowboy Ventures website */

/* HTML elements */
/* *********************************************************************************** */

body {

}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	display: block;
}

ul {
	list-style-type: none;
	margin-top: 10px;
	position: relative;
	left: 17%;
	padding: 0;
}

li {
	display: inline;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 10%;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

hr { border-top: 1px solid #ccc; }

/* Classes */
/* *********************************************************************************** */

.nav {
	margin: 0 auto;
	width: 100%;
}

.nav a { display: block; }

.content {
	margin: 0 auto;
	width: 80%;
}

.centered { text-align: center; }

.padded { }

.lineSpacing { line-height: 1.75; }

.banner {
	width: 100%;
	background-color: #E4EDED;
	padding: 25px 0;
}

.socialIcon {
	float:left;
}

/* Three Column Layout */
.columns, .companyColumns {
	width: 1000px;
    margin: 0 auto;
    position: relative;
    left: 3%;
}


.twoInner {
	float: left;
	width: 480px;
	padding: 10px;
}

.twoInner img:hover {
	/*
	border: 5px solid #4DDBFF;
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	margin-bottom: -5px;

	transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	*/
}

.threeInner {
	float: left;
	width: 320px;
	padding: 10px;
}

.fourInner {
	float: left;
	width: 250px;
}

.fourInner h3 {
	float: left;
	margin-left: auto;
    margin-right: auto;
}

.fiveInner {
	float: left;
	margin:5px;
	height: 110px;
	width: 230px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(3,3,3,.45);
	-moz-box-shadow: 0 1px 2px rgba(3,3,3,.45);
	box-shadow: 0 1px 2px rgba(3,3,3,.45);
	border: solid 1px #ececec;
}

.fiveInner img {
	width: 230px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.eightInner {
	float: left;
	width: 100px;
	padding: 10px;
}

.eightInner img {
	width: 100px;
	height: 100px;
}

.eightInner:hover {
	transform: translateY(-22px);
	-webkit-transform: translateY(-22px);
	-ms-transform: translateY(-22px);
	color: #3B8686;

	transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
}

.team {
	display: block;
	float: left;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(3,3,3,.45);
	-moz-box-shadow: 0 1px 3px rgba(3,3,3,.45);
	box-shadow: 0 1px 3px rgba(3,3,3,.45);
	border: solid 3px #fff;
}
/* Five Column Layout */
.fiveColumns {
	width:1100px;
    margin: 0 auto;
    position: relative;
}

.column {
	float:left;
    width:200px;
    padding: 10px;
}

.column img { height: 50px; }

.stretch { width: 175px; }

/* IDs */
/* *********************************************************************************** */

/* ############ navbar & home logo ############ */
#logo {
	width: 80px;
	margin: 0 auto;
}

#text {
	width: 300px;
	margin: 0 auto;
}

#navbar span {
	padding-bottom: 6px;
	font-weight: bold;
}

#navbar span:hover {
	color: gray;
	border-bottom: 3px solid #4ac7e3;
}
/* ############ end navbar ############ */

/* ############ about page conent ############ */
#about_firm {
	padding: 0 16.5%;
}

#about_firm h2 {
	text-align: center;
}

#about_firm p {
	line-height: 1.75;
}
#about_bottom {
	height: 250px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #4ac7e3;
}

#about_textslide {
	padding: 10px 16.5%;
	color: white;
}
#about_textslide p {
	font-family: Source Sans Pro, sans-serif;
	font-weight: none;
}
/* ############ end about page content ############ */
#socialWrapper {
	position: relative;
	left: 42%;
}

#venturePartners {
	position: relative;
	left: 5%;
}

#spacing { height: 550px; }

#librato img { height: 40px; padding-bottom: 10px;}

#philz img { width: 120px; }

#joyride img { width: 150px; height: 40px; }

#tintFeed { position: relative; right: 1%; }

#slides { display: none; }