body {
<<<<<<< HEAD
	padding-top: 200px;
=======
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	display: block;
>>>>>>> 13eae88c8f1c71af250f6f9daaef5869996db9b2
}

.contents {
	overflow: scroll;
}

<<<<<<< HEAD
/* ############ navbar & home logo ############ */
#navigation {
	background-color: #ffffff;
	width: 100%;
	position: fixed;
	top: 0px;
	border-bottom: 2px solid #B2B2B2;
}

#navigation a {
	text-decoration: none;
=======
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

hr { 
	border-top: 1px solid #ccc; 
	width: 100%;
	margin-bottom: 25px;
}

/* Classes */
/* *********************************************************************************** */

.nav {
	margin: 0 auto;
	width: 100%;
}

.nav a { display: block; }

.content {
	margin: 0 auto;
	width: 80%;
}

.centered { 
	text-align: center; 
}

.padded{
}

.lineSpacing { line-height: 1.75; }

.banner {
	width: 100%;
	background-color: #E4EDED;
	padding: 25px 0;
}

.socialIcon {
	float:left;
}

/* Three Column Layout */
.columns, .companyColumns {
	width: 1000px;
    margin: 0 auto;
    position: relative;
    left: 3%;
}


.twoInner {
	float: left;
	width: 480px;
	padding: 10px;
}

.twoInner img:hover {
	/*
	border: 5px solid #4DDBFF;
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	margin-bottom: -5px;

	transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	*/
}

.threeInner {
	float: left;
	width: 320px;
	padding: 10px;
}

.fourInner {
	float: left;
	width: 250px;
}

.fourInner h3 {
	float: left;
	margin-left: auto;
    margin-right: auto;
}

.fiveInner {
	float: left;
	margin:5px;
	height: 110px;
	width: 230px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(3,3,3,.45);
	-moz-box-shadow: 0 1px 2px rgba(3,3,3,.45);
	box-shadow: 0 1px 2px rgba(3,3,3,.45);
	border: solid 1px #ececec;
}

.fiveInner img {
	width: 230px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.eightInner {
	float: left;
	width: 100px;
	padding: 10px;
>>>>>>> 13eae88c8f1c71af250f6f9daaef5869996db9b2
}

img {
	display: block;
	margin: auto;
}
#logo {
  width: 80px;
  margin-top: 10px;
}

<<<<<<< HEAD
#text {
  width: 300px;
=======
.team {
	display: block;
	float: left;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(3,3,3,.45);
	-moz-box-shadow: 0 1px 3px rgba(3,3,3,.45);
	box-shadow: 0 1px 3px rgba(3,3,3,.45);
	border: solid 3px #fff;
}

.twoInner a {
	color: #79bd9a;
}

/* Five Column Layout */
.fiveColumns {
	width:1100px;
    margin: 0 auto;
    position: relative;
>>>>>>> 13eae88c8f1c71af250f6f9daaef5869996db9b2
}

#the_navbar {
	padding-top: 20px;
	padding-bottom: 15px;
	margin-left: 10%;
}

#the_navbar li {
  display: inline-block;
	list-style-type: none;
	width: 15%;
	text-align: center;
}

#the_navbar li:first-child {
	margin-left: -41px;
}
#the_navbar span {
	padding-bottom: 6px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#the_navbar span:hover,
#the_navbar li a:active {
	color: gray;
	border-bottom: 3px solid #4ac7e3;
}

@media only screen and (max-width: 900px ) {
	#the_navbar li {
		width: 12%;
	}
	#the_navbar li:first-child {
		margin-left: 0px;
	}
	#the_navbar  li:nth-child(3) {
		margin-right: 50px;
	}
}

@media only screen and (max-width: 750px ) {
	#navigation {
		font-size: 11px
	}
	#logo {
		width: 60px;
	}
	#text {
		width: 250px;
	}
}

@media only screen and (max-width: 600px) {
		#the_navbar li:first-child {
			margin-left: -20px;
			margin-right: -10px;
		}
		#the_navbar li:nth-child(3) {
			margin-right: 60px;
		}
		#the_navbar li:nth-child(4) {
			margin-right: 20px;
		}
}

@media only screen and (max-width: 480px) {
		#the_navbar li {
			width: 13%;
		}
		#the_navbar li:first-child {
			margin-left: -41px;
		}
		#the_navbar li:nth-child(3) {
			margin-right: 60px;
		}
		#the_navbar li:nth-child(4) {

		}
}

 /*############ end navbar ############*/

 /* ############ about page conent ############ */
 #about_firm {
 	padding: 0 16.5%;
 }

 #about_firm h2 {
 	text-align: center;
 }

 #about_firm p {
 	line-height: 1.75;
 }
 #about_bottom {
 	height: 250px;
 	padding-top: 30px;
 	padding-bottom: 30px;
 	background-color: #4ac7e3;
 }

 #about_textslide {
 	padding: 10px 16.5%;
 	color: white;
 }
 #about_textslide p {
 	font-family: Source Sans Pro, sans-serif;
 	font-weight: none;
 }
 /* ############ end about page content ############ */

/*body {
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	display: block;
}

ul {
	list-style-type: none;
	margin-top: 10px;
	position: relative;
	left: 17%;
	padding: 0;
}

li {
	display: inline;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 10%;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}



hr {
	border-top: 1px solid #ccc;
	width: 100%;
	margin-bottom: 25px;
}*/

<<<<<<< HEAD
=======
#slides { display: none; }

#investors {
	margin-right: 25px;
	margin-bottom: 60px;
}
>>>>>>> 13eae88c8f1c71af250f6f9daaef5869996db9b2
